{% extends 'base.html' %}
{% load i18n %}


{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock  %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">Machine</li>
    <li class="breadcrumb-item active">{{ breadcrumbs }}</li>
{% endblock %}

{% block sidebar %}
    {% include 'machine_sidebar.html' %}
{% endblock sidebar %}

{% block body %}
<div class="card card-default color-palette-box">
    <div class="card-header">
        <h3 class="card-title"><i class="fa-solid fa-gears"></i>&nbsp;</i>{{ name }}</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body p-0">

                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="card">
                    <div class="card-body p-0">
                    <table class="table table-sm">
                        <tbody>
                        <tr class="text-left">
                            <td width="5%"><i class="fa-solid fa-font"></i></td>
                            <td width="20%">Name</td>
                            <td width="70%">{{ name }}</td>
                        </tr>
                        <tr class="text-left">
                            <td width="5%"><i class="fa-solid fa-tag"></i></td>
                            <td width="20%">IPN</td>
                            <td width="70%">{{ IPN }}</td>
                        </tr>
                        <tr class="text-left">
                            <td width="5%"><i class="fa-solid fa-circle-info"></i></td>
                            <td width="20%">Description</td>
                            <td width="70%">{{ desc }}</td>
                        </tr>
                        <tr class="text-left">
                            <td width="5%"><i class="fa-solid fa-network-wired"></td>
                            <td width="20%">Line Machine</td>
                            <td width="70%">{{ category }}</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-default color-palette-box" id="records-div" style="display: revert">
    <div class="card-header">
        <h3 class="card-title"><i class="fa-solid fa-clipboard"></i></i>&nbsp;</i>Preventive Record</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="">
                    <div class="card-body p-0">
                        <table id="subcategories-table" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                            <tr>
                              <th>Name</th>
                              <th>Description</th>
                              <th>Path</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-default color-palette-box" id="itemRelated-div" style="display: none">
    <div class="card-header">
        <h3 class="card-title"><i class="fa-brands fa-stack-overflow"></i>&nbsp;</i>Preventive Item Related</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="">
                    <div class="card-body p-0">
                        <table id="task-related-table" class="table table-bordered table-hover table-sm" style="width:100%">
                            <thead>
                            <tr>
                              <th style="width:30%">Check Item</th>
                              <th style="width:40%">Description</th>
                              <th style="width:10%">Period</th>
                              <th style="width:10%">Previous</th>
                              <th style="width:10%">Next</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script language="javascript">
    function populatePreventiveRecord(id) {
        $.ajax({
            url: '{% url 'machine-category-list' %}' + '?id=' + id,
            dataType: 'json',
            success: function(data) {
                $('#subcategories-table tbody').empty();
                if(data.recordsFiltered == 0){
                    var row = '<tr>' +
                        '<td class="text-center" colspan="3">No data</td>' +
                        '</tr>';
                    $('#subcategories-table tbody').append(row);
                } else {
                    $.each(data.data, function(index, item) {
                        var row = '<tr>' +
                            '<td><a href="{% url 'machine-category' %}' + '?id=' + item.id + '">' + item.name + '</a></td>' +
                            '<td>' + item.description + '</td>' +
                            '<td>' + item.pathstring + '</td>' +
                            '</tr>';
                        $('#subcategories-table tbody').append(row);
                    });
                }
            }
          });
    }

    function populateItemRelatedTable(id) {
        $.ajax({
            url: '{% url 'task-related' %}' + '?id=' + id,
            dataType: 'json',
            success: function(data) {
                $('#task-related-table tbody').empty();
                if(data.recordsFiltered == 0){
                    var row = '<tr>' +
                        '<td class="text-center" colspan="3" >No data</td>' +
                        '</tr>';
                    $('#machine-table tbody').append(row);
                } else {
                    $.each(data.data, function(index, item) {
                        var row = '<tr>' +
                            '<td><a href="{% url 'machine' %}' + '?id=' + item.id + '">' + item.item + '</a></td>' +
                            '<td>' + item.description + '</td>' +
                            '<td>' + item.period + '</td>' +
                            '</tr>';
                        $('#task-related-table tbody').append(row);
                    });
                }
            }
          });
    }

    function submitForm() {
        var formData = new FormData(document.getElementById("myForm"));
        $.ajax({
            url: "{% url 'machine-category-create' %}",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
                alert("Object created successfully");
                $('#myModal').modal('hide');
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            }
        });
    }

    $('#showRecords').on('click', function(e){
        $("#records-div").toggle().show();
        $("#itemRelated-div").toggle().hide();

    });

    $('#showItemRelated').on('click', function(e){
        $("#itemRelated-div").toggle().show();
        $("#records-div").toggle().hide();
    });

    $(document).ready(function() {
        $("#navMenus").on('click', 'a', function () {
            $("#navMenus a.active").removeClass("active");
            // adding classname 'active' to current click li 
            $(this).addClass("active");
        });

        var url = new URL(window.location.href);
        var param = url.searchParams.get("id");
        if (param!=null){
            populatePreventiveRecord(param);
            populateItemRelatedTable(param);
        }
        else{
            console.log("ekl");
        };

        $('#modal-new-category').on('show.bs.modal', function (event) {
            var modal = $(this);
            $.ajax({
              url: "{% url 'machine-category-create' %}",
              context: document.body
            }).done(function(response) {
              modal.html(response);
            });
        });
    });
</script>
{% endblock %}