{% load static %}
{% load i18n %}

<!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="pb-3 mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" id="navMenus" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" class="nav-link active" id="showCategories">
            <i class="fa-solid fa-list-check"></i>
            <p>Task</p>
          </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" id="showMachine">
              <i class="fas fa-file-contract"></i>
              <p>Record</p>
            </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" id="showMachine">
            <i class="fas fa-calendar-alt"></i>
            <p>Schedule</p>
          </a>
      </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->